html, body {
    margin: 0;
    padding: 0;
    background-color: bisque;
    display: flex;
    overflow: hidden;
}

.calculator-body {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 671px;
    width: 401px;
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 20px;
    align-items: center;
    overflow: auto;
    border: 1px solid transparent;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8) inset, 
                0 0 10px rgba(0, 0, 0, 0.5);
}

.top-container {
    width: 100%;
    padding: 50px;
}

.output-container {
    position: relative;
    top: 0;
    height: 287px;
    width: 100%;
    border: none;
    background-color: transparent;
    color: white;
    text-align: right;
}

.output {
    width: 100%;
    font-size: 56px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
}

.output p {
    margin-right: 25px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.input-container {
    position: absolute;
    bottom: 0;
    height: 431px;
    display: grid;
    grid-template-rows: auto 1fr;
    width: 401px;
    margin-left: 2vw;
    margin-bottom: 5px;
}

.buttons {
    position: absolute;
    bottom: 0;
}

.button {
    height: 82px;
    width: 82px;
    border-radius: 50%;
    background-color: rgb(61, 60, 60);
    border: none;
    margin: 5px;
    color: white;
    font-size: 27px;
    transition: background-color 0.5s ease;
}

.button:hover {
    background-color: rgb(110, 109, 109);
    cursor: pointer;
}

button:active {
    background-color: rgb(162, 160, 160);
}

.gray {
    background-color: rgb(130, 129, 129);
    color: black;
    transition: background-color 0.5s ease;
}

.gray:hover {
    cursor: pointer;
    background-color: rgb(183, 183, 183);
}

.gray:active {
    background-color: rgb(229, 225, 225);
}

.orange {
    background-color: orange;
    transition: background-color 0.5s ease;
}

.orange:hover {
    background-color: rgb(243, 206, 137);
    cursor: pointer;
}

.orange:active {
    background-color: rgb(242, 220, 179);
}

.wide {
    width: 180px;
    border-radius: 50%/100%;
}
